drf-nested-routers==0.94.1
Django==4.2.9
djangorestframework==3.14.0
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
openpyxl==3.1.2
Pillow==10.2.0
pandas==2.1.4
numpy==1.26.4
pytz==2025.1
requests==2.32.3
django-filter==23.3
openai==1.3.0
python-jose==3.3.0
pydantic==2.11.3
anthropic==0.40.0 
OPENAI_API_KEY=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
OPENAI_ASSISTANT_ID=asst_kbmSfnDbtUfQeE1w9Wlnxdm8